<div>
    <% if(!model.events) { %>
    <h1>Calendar widget</h1>
    <% } else { %>

    <h3><%= model.title %></h3>

    <% if(model.events.length == 0) { %>
        <h4>No upcoming events</h4>
    <% } %>
    <ul>
    <% _.each(model.events, function(event) { %>
        <li>
            <span class="text-muted"><%= event.date %></span> <%= event.title %>
        </li>
    <% }); %>
    </ul>

    <br/><br/>
    <div class="text-muted smaller">Last updated <%= model.last_updated %></div>
    <% } %>
</div>